<unattend xmlns="urn:schemas-microsoft-com:unattend">
    <!-- Другие разделы файла автозагрузки -->
    <settings pass="specialize">
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <UserAccounts>
                <AdministratorPassword>
                    <Value>ВашПарольАдминистратора</Value>
                    <PlainText>true</PlainText>
                </AdministratorPassword>
                <LocalAccounts>
                    <LocalAccount wcm:action="add">
                        <Password>
                            <Value>ВашПароль</Value>
                            <PlainText>true</PlainText>
                        </Password>
                        <Name>ИмяПользователя</Name>
                        <Group>Administrators</Group>
                    </LocalAccount>
                </LocalAccounts>
            </UserAccounts>
        </component>
    </settings>
    <settings pass="oobeSystem">
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <UserAccounts>
                <DomainAccounts>
                    <DomainAccountList>
                        <DomainAccount wcm:action="add">
                            <Name>ИмяПользователяДомена</Name>
                            <Group>Administrators</Group>
                            <Password>
                                <Value>ПарольПользователяДомена</Value>
                                <PlainText>true</PlainText>
                            </Password>
                        </DomainAccount>
                    </DomainAccountList>
                </DomainAccounts>
            </UserAccounts>
        </component>
    </settings>
    <!-- Остальные разделы файла автозагрузки -->
</un
